<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <title>About</title>
</head>
<body class="post">
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center"> 
              Degenerator  
          </a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="../about.html">About</a></li>
          </ul>
      
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://github.com/zueffc/degenerator">Sources</a></li>
          </ul>
        </div>
    </nav>

    <div class="container" style="margin-top: 15%;">
        <h4>
            Так, с чего бы начать... <br />
            Во-первых, привет, юзверь! Рад, что ты воспользовался моим творением! <br />
            Degenerator должен взлететь или умереть, третьего не дано. <br />
            Всю актульаную ифнормацию о проекте можно узнать в официальном репозитории проекта на Github: <a href="https://github.com/zueffc/degenerator">Тык</a> <br />
            <br /><br />
            Засим, прощаюсь. 
        </h4>
    </div>
</body>
</html>