<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">

    <link rel="stylesheet" href="../static/css/highlight.min.css">
    <script src="../static/js/highlight.min.js"></script>

    <script src="../static/js/materialize.min.js"></script>
    <title>{{.BlogName}}</title>
</head>
<body class="post">
    {{.Header}}

    <div class="container">
      <center>
        <h3>{{.Meta.Title}}</h3>
        <p>By: <b>{{.Meta.Author}}</b></p>
      </center>
      <div class="user-content">
        {{.Body}}
      </div>
    </div>

    <br /> <br />
    {{.Footer}}
    <script>hljs.highlightAll();</script>
</body>
</html>